
h5 {
    margin-top: 0px;
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-color: black;
    font-family:sans-serif;
    color: #FFFFCC;
;
}

body {
    background-image: url('bg1.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-color: black;
    font-family:sans-serif;
;
}

h1 {
    font-family: "Miriam Fixed";
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}
h3 {
            text-align: center;
}



h4{

    background-position: left center;
    background-color: black;
    color:#FFFFCC;
        font-size: 18px;
    text-align: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-right: 20px;


}
h2{
    font-size: large;
    left: 20px;
    margin-left: 20px;

}
p {
    border: medium solid #FFFFCC;
    margin-left: 0px;
    margin-left: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
button {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    visibility: visible;
    margin-right: 20px;
    margin-top: 5px;

}
